@mixin menu-breakpoint($point)
{
    @if $point == desktop {
        @media (min-width: map-deep-get($menu-breakpoints, 'desktop')) { @content; }
    }
    @else if $point == tablet {
        @media (min-width: map-deep-get($menu-breakpoints, 'tablet')) { @content; }
    }
    @else if $point == mobile-landscape {
        // Support mobile devices in landscape. Includes all iPhones (tested upto iPhone 12 PRO Max) and all Androids (tested upto Galaxy S20 Ultra).
        @media (max-height: 428px) and (orientation: landscape) { @content; }
    }
    @else if $point == mobile-tablet-only {
        // All mobile and tablet devices only, excluding desktops.
        @media (max-width: map-deep-get($menu-breakpoints, 'desktop') - 1) { @content; }
    }
}
